.app {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f9;
  padding: 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1250px;
}

/* Модальне вікно */
.modal {
  background-color: rgb(8, 8, 8);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  max-width: 80%;
  width: 900px;
  margin: 0 auto; /* Центрування по горизонталі */
  position: relative;
  z-index: 1000; /* Для перекриття інших елементів */
}

/* Overlay для модального вікна */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 999; /* Під модальним вікном */
  display: flex;
  justify-content: center;
  align-items: center; /* Центрування по вертикалі */
}

/* Для зображення в модальному вікні */
.modal img {
  width: 100%;
  border-radius: 8px;
}

/* Стилі для заголовку */
h1 {
  font-size: 36px;
  color: #3b5998;
  margin-bottom: 20px;
}

/* Стилі для повідомлень про помилку */
.errorMessage {
  color: #ff4d4d;
  font-size: 18px;
  margin: 20px 0;
}
